<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FamoCity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webHost" value="http://www.famocity.com/"/>
    <add key="webHostShop" value="http://www.famocity.com/shop/"/>    
    <add key="EmailSender" value="No-replay@fameway.com"/>
    <add key="EmailPassword" value="nO@#$ZXc"/>
    <add key="EmailSubject" value="New Job Request"/>
    <add key="MaxFileSize" value="4000000"/>
    <add key="ImgExtension" value="jpg,gif,png,jpe"/>
    <add key="StorageRoot" value="~/temp/"/>
    <add key="FolderPath" value="~/files_upload/"/>
    <add key="RandomImages" value="11"/>
    <add key="shopServiceAdmin" value="m.saeed@fameway.com"/>
    <add key="shopServiceAdminPass" value="m123"/>
    <!-- this must be similar key in famocity.com/shop web.config -->
    <add key="encryptkey" value="C9F32DD1-C2E6-4046-9716-56374C7DF79C"/>
      <!-- this sigin with tweeter -->
      <add key="consumerKey" value="y5sTP2G26kdwTGjW538s2ibkj" />
      <add key="consumerSecret" value="IqwXJM3AKZjV1tTyYkFyQau7gHgKzf89RicT5Gh2N1fcTuyE2s" />
      <add key="google_clientId" value="985239235319.apps.googleusercontent.com" />
      <add key="google_clientEmail" value="985239235319@developer.gserviceaccount.com" />
      <add key="google_clientSecret" value="M-O_nyzm90h-9M1JTOBnCszx" />
      <add key="google_RedirectUrl" value="http://aspdotnet-suresh.com/GoogleAuthentication.aspx" />
      <add key="google_JavaScriptOrigin" value="http://aspdotnet-suresh.com" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStr2" connectionString="Data Source=37.58.102.50;Initial Catalog=famodbvr1;User ID=sa;Password='Serv123';" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStr1" connectionString="Data Source=192.168.100.50;Initial Catalog=famodbvr1;User ID=sa;Password=Serv123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off"></customErrors>
    <sessionState timeout="525600">
    

    </sessionState>
    <httpHandlers>
      <!--<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Forms">
      <forms name="NOPCOMMERCE.AUTH" loginUrl="~/login" protection="All" timeout="43200" path="/" domain="famocity.com" requireSSL="false"  slidingExpiration="true" />
    </authentication>
    <machineKey validationKey="5A84EC14CC340BA4B6D2C3FEC5C790829AF13EC51274DAD88861563A6C1E32EA11E29A2297A07DF169A14E2F2F6EEC8CDFBC00FCD86AFC5398871DB9DD2577AF" decryptionKey="484F9DE276FDBAF13C09FA512891599F4EC9A660CE4E23203D63289814DDA760" validation="SHA1" decryption="AES" />
  </system.web>

  <applicationSettings>
    <FamoCity.Properties.Settings>
      <setting name="FamoCity_NopService_NopService" serializeAs="String">
        <value>http://www.famocity.com/shop/Plugins/Misc.WebServices/Remote/NopService.svc</value>
      </setting>
      <setting name="FamoCity_PersonalService_FamoPersonalService"
        serializeAs="String">
        <value>http://www.famocity.com/FamoPersonalService/FamoPersonalService.asmx</value>
      </setting>
    </FamoCity.Properties.Settings>
  </applicationSettings>
	<system.webServer>
		
    <staticContent>
      <mimeMap fileExtension=".unity3d" mimeType="application/game" />
    </staticContent>
	</system.webServer>
</configuration>
