@charset "UTF-8";
/* CSS Document */
/*/////////////////////////////////////////____content size____/////////////////////////////////////////
.size{ min-height:670px;}*/
/*/////////////////////////////////////////____content data____/////////////////////////////////////////*/
.boxsize-small{ width:460px;}
.bigbox{
	float: left;
	/*position: absolute;*/
	padding:20px 50px;
	margin-left:178px;
	margin-top:20px;
background-color: #ffffff;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: inset 0px 0px 10px #c6c6c6;
-webkit-box-shadow: inset 0px 0px 10px #c6c6c6;
box-shadow: inset 0px 0px 10px #c6c6c6;
/*Inner elements should not cover inner shadows*/
/*Chrome renders inset shadows incorrectly with border-radius*/
/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f2f2f2', endColorstr = '#ff2b08');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f2f2f2', endColorstr = '#ff2b08')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(242,242,242,0.1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(242,242,242,0.1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(242,242,242,0.1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(242,242,242,0.1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(242,242,242,0.1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(242,242,242,0.1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#1af2f2f2',GradientType=0 ); /* IE6-8 */


/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/


}








/*/////////////////////////////////////////____register____/////////////////////////////////////////*/
.form-register {
   text-decoration: none;
   width:460px;
   padding:30px 0 0 0;
   }
.form-register-r {
   text-decoration: none;
   padding:30px 0 0 0;
   }
.form-field-r {
   background: #f3f3f3;
   padding:0 2px 4px 2px;
   margin-bottom:10px;
   width:454px;
   height:24px;
   outline:none;
   float:right;
   text-align:right;
   font-size:12px;
   color: #a58fa6;
   font-style:italic;
   border: solid 1px #a58fa6;
   position:relative;
   z-index:100;
   }
.form-field-r:hover {
   background: #ffffff;
   font-style: normal;
   border: solid 1px #6d4373;
   }
.form-field-r:focus {
   background: #ffffff;
   color: #a58fa6;
   font-style: normal;
	font-weight: normal;
	border: solid 1px #92af4b;
   }
.form-line-r{ float:right; width:460px; /*height:70px;*/ text-align:right; direction:rtl; padding-bottom:8px;}
.form-padding-right{ padding-right:20px;}
.form-title-r {
	width:454px;
   margin-bottom:2px;
   color: #6d4373;
   float:right;
   font-size:13px;
   text-align:right;
   background-color:Red;
   height:200px;
   }
.form-label-r{float: right; height:20px; font-size:9px; color:#6d4373; direction:rtl; margin:20px 20px 0 0;}
.form-label-x{float: right; width:400px; height:20px; font-size:11px; color:#6d4373; text-align: right; direction:rtl; margin:0 1px 15px 0;}
.form-label-r a:link {} 
.form-label-cancel{float: right; width:316px; height:20px; font-size:9px; color:#6d4373; direction:rtl; margin:20px 0 0 0;}
.selectdate-n { width:219px;  border: solid 1px #a58fa6; background: #f3f3f3; outline:none; color:#a58fa6; position:relative; top:-7px;}
.selectdate-n:hover { background:#ffffff;   border: solid 1px #6d4373; color:#a58fa6;}
.selectdate-n:focus {background: #ffffff; color: #a58fa6;font-style: normal; font-weight: normal; border: solid 1px #92af4b; color:#a58fa6;}	

.validation{ color:rgb(193, 39, 45); font-size:11px; top:-14px; position:relative;}
.photo-up{ float:right; width:292px; min-height:222px; border: solid 2px #a58fa6; background:#f2f2f2; margin-right:80px;}
.photo-up img{ width:292px; border:none; outline:none;}
.transparent {
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.5;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}

	
	
	
	
	
/*/////////////////////////////////////////____step line____/////////////////////////////////////////*/
.meter {
	width:813px;
  height: 20px;
  position: relative;
  background: #ededed;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top:2.3em;
  direction:rtl;
  }

.meter ol {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
  width: 99%;
  border-radius: 10px;
  background-color: #8f94a6;
  position: relative;
  list-style: none; 
  direction:rtl;
  }

.meter ol li {
  float:right;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 20%;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);}

.meter ol li span {
  left: -0.5em;
  display: block;
  text-align: center;
  line-height:114%;

  
  }

.meter ol li .step {
  top: -0.4em;
  padding: .1em 0 .3em 0;
  margin-top: .1em;
  border: 3px solid #ddd;
  z-index: 99;
  font-size: 1.25em;
  color: #8f94a6;
  width: 1.5em;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;  font-size:17px; font-family:armedium; }

.meter ol li .stage {
  color: #fff;
    font-size:14px;
	padding-left:1em;
	line-height:23px;
	font-family:armedium;
}

.meter ol li.active {
  height: 20px;
  background: #92af4b;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #7b932f 15px, #7b932f 15px);
  -webkit-animation: progress 3s infinite linear;
  -moz-animation: progress 3s infinite linear;
  -ms-animation: progress 3s infinite linear;
  -o-animation: progress 3s infinite linear;
  animation: progress 3s infinite linear; }

.meter ol li.active span.step {
  color: #6d4373;
  border: 3px solid #92af4b; }

@keyframes "progress" {
  0% {
    background-position-x: 0px; }

  100% {
    background-position-x: 36px; } }

@-moz-keyframes progress {
  0% {
    background-position-x: 0px; }

  100% {
    background-position-x: 36px; } }

@-webkit-keyframes "progress" {
  0% {
    background-position-x: 0px; }

  100% {
    background-position-x: 31px; } }

@-ms-keyframes "progress" {
  0% {
    background-position-x: 0px; }

  100% {
    background-position-x: 36px; } }

@-o-keyframes "progress" {
  0% {
    background-position-x: 0px; }

  100% {
    background-position-x: 55px; } }





 /*/////////////////////////////////////////____upload____/////////////////////////////////////////*/

.RadUpload
{
    width:430px;
    text-align:left;}
.RadUpload_rtl
{
    text-align:right;}
.RadUpload .ruInputs
{
    position:relative;
    zoom:1;}
.RadUpload .ruInputs li
{
    margin:0 0 5px;}
.RadUpload .ruInputs li.ruActions
{
    margin:1.4em 0 0;}
.RadUpload .ruInputs
{
    list-style:none;
    margin:0;
    padding:0;}
.RadUpload .ruCheck
{
    top:1px;
    padding:3px;
    position:static;
    zoom:1;}
.RadUpload .ruFileWrap
{
    position:relative;
    display:inline-block;
    white-space:nowrap;
    vertical-align:top;
    line-height:20px;
    zoom:1;
    overflow:hidden!important;
    height:24px;}
.RadUpload_rtl .ruFileWrap
{
    padding-left:.8em;
    padding-right:0;}
.ruRtlWrap
{
    position:absolute;
    top:0;
    left:0!important;
    display:block;}
.ruFileWrap .ruRtlWrap input.ruFileInput
{
    position:static;}
.RadAsyncUpload span.ruFileWrap
{
    padding-left:0;}
* html .RadUpload .ruFileWrap
{
    top:-1px;}
*+html .RadUpload .ruFileWrap
{
    top:-1px;}
.RadUpload input.ruFileInput
{
    font:100px monospace;
    margin:0;
    padding:0;
    right:0;
    top:0;}
.RadUpload .ruStyled .ruFileInput,.RadUpload .ruFakeInput
{
    border-width:1px;
    border-style:solid;
    line-height:18px;
    padding:4px 4px 0 4px;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;}
.RadUpload .ruFileInput,.RadUpload .ruFakeInput,.RadUpload .ruButton
{
    float:none;
    vertical-align:top;}
.RadUpload .ruStyled .ruFileInput
{
    position:absolute;
    z-index:1;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);}
.RadUpload .ruReadOnly .ruFakeInput
{
    position:relative;
    z-index:2;}
.RadUpload .ruFakeInput
{
    height:16px;
    margin-right:-1px;
    background-position:0 -93px;
    background-repeat:repeat-x;
    background-color:#fff;
    line-height:20px\9;
    height:20px\9;
    padding-top:0\9;}
.RadAsyncUpload.RadUpload_rtl .ruFakeInput
{
    margin-right:0;}
* html .RadUpload .ruFakeInput
{
    height:20px;
    margin-top:0;
    padding-top:0;
    padding-right:.5em;
    line-height:20px;
    vertical-align:middle;}
* html .RadUpload_rtl .ruFakeInput
{
    margin-right:0;
    margin-left:0;}
*+html .RadUpload .ruFakeInput
{
    height:20px;
    margin-top:-1px;
    padding-top:0;
    padding-right:.5em;
    line-height:20px;
    vertical-align:middle;}
.RadUpload .ruButton
{
    width:79px;
    height:22px;
    border:0;
    padding-bottom:2px;
    background-position:0 -23px;
    background-repeat:no-repeat;
    background-color:transparent;
    text-align:center;}
*+html .RadUpload .ruButton
{
    padding-bottom:0;}
.RadUpload .ruBrowse
{
    margin-left:4px;
    width:65px;
    _height:20px;
    background-position:0 0;
    _vertical-align:middle;}
.RadUpload_rtl .ruBrowse
{
    margin-left:0;
    margin-right:4px;}
.RadUpload .ruRemove
{
    overflow:visible;
    border:0;
    background-position:4px -70px;
    width:auto;
    padding-left:16px;
    cursor:pointer;
    font-size:10px;}
.RadUpload_rtl .ruCancel
{
    background-position:100% -70px;
    padding-left:0;
    padding-right:14px;
    margin-right:4px;}
.RadUpload .ruCancel
{
    overflow:visible;
    border:0;
    background-position:4px -70px;
    width:auto;
    padding-left:16px;
    cursor:pointer;
    font-size:10px;}
.RadUpload_rtl .ruRemove
{
    background-position:100% -70px;
    padding-left:0;
    padding-right:14px;
    margin-right:4px;}
.RadUpload .ruActions .ruButton
{
    width:79px;
    margin:0 16px 0 0;
    background-position:0 -23px;}
.RadUpload_rtl .ruActions .ruButton
{
    margin:0 0 0 16px;}
.RadUpload input[disabled],.RadUpload .ruButtonDisabled
{
    -moz-opacity:.6;
    opacity:.6;
    filter:alpha(opacity=60);}
.RadUploadSubmit
{
    width:115px;
    height:22px;
    border:0;
    margin:0;
    padding:0;
    background-position:0 -46px;
    background-repeat:no-repeat;
    background-color:transparent;
    font:11px/22px "Segoe UI",Arial,sans-serif;
    text-align:center;}
.RadUpload .ruUploadProgress
{
    padding-left:18px;
    display:block;
    background:transparent url('WebResource.axd?d=6WaVzYY1fSK3OIAt4NUt8vv2xgrpveyZXmH--OHRklJZoE8_Ed2Dev4TwWvzmKsCU2FHrc6l6vb__d3Ar7f6mXUQ6LbEDyVntfENrjG0bliuoN2WULsE8UeHXdCiW-ywFVjk7XsswYJjStI81PdaizqJNVvh0oJNNIoWNEMZw8g1&t=635095910640000000') no-repeat 0 50%;}
.RadUpload_rtl .ruUploadProgress
{
    padding-left:0;
    padding-right:18px;
    background-position:100% 50%;}
.RadUpload .ruUploadSuccess,.RadUpload .ruUploadFailure,.RadUpload .ruUploadCancelled
{
    background-image:url('WebResource.axd?d=pXONLSreKoOUBq9QU3Z7yEcuhJ1KB5CxEElM-P2egkOXPGiASucOSaEL6jRTuraiAUR6z20vMdTsImNlaszivdDSAcfJtZlEaxF7rYXm0Y6OYq9Q-4MV9ZNVSn-3mLIVapdvZ74o_rHyxhyfLK-Ck_XP27fZ5tLxty3FHTqIxXk1&t=635095910640000000');
    background-repeat:no-repeat;
    background-color:transparent;}
.RadUpload .ruFileRemoved
{
    height:0;
    margin-bottom:0;}
.RadUpload .ruUploadSuccess
{
    background-position:0 18%;}
.RadUpload_rtl .ruUploadSuccess
{
    background-position:100% 18%;}
.RadUpload .ruUploadFailure,.RadUpload .ruUploadCancelled
{
    background-position:0 80%;}
.RadUpload_rtl .ruUploadFailure,.RadUpload_rtl .ruUploadCancelled
{
    background-position:100% 80%;}
.RadUpload .ruFileWrap .ruUploadInvalid
{
    border-color:#d51923;
    color:#d51923;}
.RadUpload .ruFileProgress,.RadUpload .ruFileProgressWrap
{
    display:block;
    height:5px;
    background-repeat:repeat-x;
    background-color:transparent;}
* html .RadUpload .ruFileProgress,* html .RadUpload .ruFileProgressWrap
{
    line-height:5px;
    font-size:4px;
    height:auto;}
.RadUpload .ruFileProgress
{
    margin-left:-2px;
    width:2px;}
* html .RadUpload .ruFileProgress
{
    position:relative;}
.RadUpload_rtl .ruFileProgress
{
    margin-left:0;
    margin-right:-2px;}
.RadUpload .ruFileProgressWrap
{
    margin:-3px 0 0;
    position:relative;
    width:100%;}
*+html .RadUpload .ruFileProgressWrap
{
    width:auto;
    margin-top:-4px;}
* html .RadUpload .ruFileProgressWrap
{
    width:auto;
    margin-top:-4px;}
.RadUpload .ruProgressComplete,.RadUpload .ruUploadFailure .ruFileProgressWrap,.RadUpload .ruUploadCancelled .ruFileProgressWrap
{
    display:none;}
.ruDropZone
{
    padding:10px;
    width:100%;
    height:100%;
    border:1px solid;
    border-radius:3px;
    font-size:18px;
    text-align:center;
    display:none;
    position:absolute;
    left:-11px;
    top:-11px;
    z-index:2000;}
.ruDropZone span
{
    margin:-9px 0 0 0;
    height:18px;
    width:100%;
    line-height:1;
    text-align:center;
    position:absolute;
    top:50%;
    left:0;}

@media all and (-webkit-max-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0)
{
    .RadUpload_rtl .ruRemove{margin:0 0 0 4px;}
    .RadUpload_rtl .ruActions .ruButton{margin:0 16px 0 0;}
    .RadUpload_rtl .ruBrowse{margin:0 0 0 3px;}
}